In [5]:
import requests
import json
import pandas as pd

In [2]:
# API endpoint URL
url = "https://data.cityofnewyork.us/resource/rebk-rr49.json"

# Send GET request to the API
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON data from the response
    data = response.json()
else:
    # If the request was not successful, print an error message
    print(f"Error: Unable to fetch data. Status code: {response.status_code}")

In [ ]:
#https://data.cityofnewyork.us/Transportation/2021-High-Volume-FHV-Trip-Records-Jan-Jul-/rebk-rr49

In [13]:
data = pd.DataFrame(data)

dolocationid
219     1
257     1
109     1
224     1
227     1
       ..
76     20
17     20
80     20
37     21
265    37
Name: count, Length: 194, dtype: int64

In [18]:
data.groupby('dolocationid').count()

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,pulocationid,sr_flag
dolocationid,,,,,,
10,3,3,3,3,3,0
100,3,3,3,3,3,0
101,2,2,2,2,2,0
106,1,1,1,1,1,0
107,7,7,7,7,7,0
...,...,...,...,...,...,...
90,8,8,8,8,8,0
91,9,9,9,9,9,0
94,1,1,1,1,1,0
95,5,5,5,5,5,0
97,10,10,10,10,10,0

In [20]:
data.shape #only 1000 rows at a time :(

(1000, 7)