In [28]:
import numpy as np
import pandas as pd

In [29]:
import pyarrow

In [14]:
def compression(file):
    rideshares = pd.read_parquet(file)
    rideshares['Month'] = rideshares['dropOff_datetime'].dt.month
    rideshares['Day'] = rideshares['dropOff_datetime'].dt.day
    rideshares['Hour'] = rideshares['dropOff_datetime'].dt.hour
    rideshares['Year'] = rideshares['dropOff_datetime'].dt.year
    rideshares_grouped = rideshares.groupby(['PUlocationID', 'DOlocationID', 'Year', 'Month', 'Day', 'Hour']).agg(
        trips=pd.NamedAgg(column='pickup_datetime', aggfunc='count')
    )
    rideshares_grouped = rideshares_grouped.reset_index()
    new_file_path = r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\FHV_Compressed\compressed_FHV_' + year_month + '.parquet'
    rideshares_grouped.to_parquet(new_file_path, engine='pyarrow')

In [31]:
# Empty list to store the results
year_month_list = []

# Loop through years from 2019 to 2022
for year in range(2015, 2016):
    # Loop through months from 1 to 12
    for month in range(1, 13):
        # Format the year and month as "YYYY-MM" and append to the list
        year_month_list.append(f"{year}-{month:02d}")

# The list `year_month_list` will now contain all years and months from 2019 to 2022 in the desired format
year_month_list

['2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12']

In [18]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-10.parquet')

In [19]:
df.columns

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')

In [25]:
year_month_list = ['2017-06','2018-05','2018-06','2018-08']

In [27]:
for year_month in year_month_list:
    file = r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\FHV_Compressed\Special_Uncompressed\fhv_tripdata_fixed_" + year_month + ".parquet"
    compression(file)

In [25]:
for year_month in year_month_list:
    file = "https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_" + year_month + ".parquet"
    try:
        compression(file)
    except Exception as e:
        print(f"Error compressing {file}: {e}")
        continue

Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2017-06.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33055741734000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2018-05.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 32094334800000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2018-06.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33085021500000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2018-08.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33092525254000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-02.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33106123800000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-03.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33110396100000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-04.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 29956490948000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-07.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33119051544000000
Error compressing https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-09.parquet: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33124408344000000

In addition to the thorny problem around timestamps, a lot of these earlier FHV files don't have DOLocationIDs or POLocationIDs for the majority of data.

In [15]:
new_file_path = r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\FHV_Compressed\Special_Uncompressed\fhv_tripdata_fixed_2018-08.parquet"

In [16]:
year_month= '2018-08'

In [17]:
compression(new_file_path)

In [22]:
test = pd.read_parquet(r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\FHV_Compressed\compressed_FHV_2018-08.parquet")

In [23]:
test

       PUlocationID  DOlocationID  Year  Month  Day  Hour  trips
0               0.0           0.0  2018      8    1     0    751
1               1.0           1.0  2018      8    1     0      2
2               1.0           4.0  2018      8    1     0     17
3               1.0           7.0  2018      8    1     0      7
4               1.0           9.0  2018      8    1     0      1
...             ...           ...   ...    ...  ...   ...    ...
59792         265.0         261.0  2018      8    1     0     14
59793         265.0         262.0  2018      8    1     0     12
59794         265.0         263.0  2018      8    1     0     12
59795         265.0         264.0  2018      8    1     0    290
59796         265.0         265.0  2018      8    1     0  46834

[59797 rows x 7 columns]

In [ ]:
# Empty list to store the results
year_month_list = []

# Loop through years from 2019 to 2022
for year in range(2019,2020):
    # Loop through months from 1 to 12
    for month in range(1, 13):
        # Format the year and month as "YYYY-MM" and append to the list
        year_month_list.append(f"{year}-{month:02d}")

# The list `year_month_list` will now contain all years and months from 2019 to 2022 in the desired format
year_month_list = ['2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12']

In [ ]:
for year_month in year_month_list:
    file = "https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_" + year_month + ".parquet"
    compression(file)

In [ ]:
year_month_list = []
for year in range(2019,2024):
    # Loop through months from 1 to 12
    for month in range(1, 13):
        # Format the year and month as "YYYY-MM" and append to the list
        year_month_list.append(f"{year}-{month:02d}")

# The list `year_month_list` will now contain all years and months from 2019 to 2022 in the desired format
#HVFHV data starts in Feb 2019 and goes to april 2023.
year_month_list =  ['2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12',
 '2021-01',
 '2021-02',
 '2021-03',
 '2021-04',
 '2021-05',
 '2021-06',
 '2021-07',
 '2021-08',
 '2021-09',
 '2021-10',
 '2021-11',
 '2021-12',
 '2022-01',
 '2022-02',
 '2022-03',
 '2022-04',
 '2022-05',
 '2022-06',
 '2022-07',
 '2022-08',
 '2022-09',
 '2022-10',
 '2022-11',
 '2022-12',
 '2023-01',
 '2023-02',
 '2023-03',
 '2023-04']

In [ ]:
print(year_month_list)

['2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12', '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03', '2023-04']

In [ ]:
for year_month in year_month_list:
    new_file_path = r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\HVFHV_Compressed\compressed_HVFHV_" + year_month
    df = pd.read_parquet(new_file_path)
    shape = df.shape
    print(year_month,",",shape[0])
#just looking to see how big I can reasonably make the groupings. I think two years at a time will work.

2019-02 , 6447091
2019-03 , 7480020
2019-04 , 7020231
2019-05 , 7182380
2019-06 , 6899404
2019-07 , 6857375
2019-08 , 6922793
2019-09 , 6713666
2019-10 , 6907533
2019-11 , 6878251
2019-12 , 7013408
2020-01 , 6728272
2020-02 , 6714450
2020-03 , 5145110
2020-04 , 2658678
2020-05 , 3522982
2020-06 , 4094492
2020-07 , 5006918
2020-08 , 5392083
2020-09 , 5602243
2020-10 , 5863761
2020-11 , 5321542
2020-12 , 5287741
2021-01 , 5426415
2021-02 , 5104301
2021-03 , 6135044
2021-04 , 6046947
2021-05 , 6302712
2021-06 , 6281523
2021-07 , 6351125
2021-08 , 6247082
2021-09 , 6149096
2021-10 , 6467425
2021-11 , 6191080
2021-12 , 6265516
2022-01 , 5998112
2022-02 , 5991488
2022-03 , 6764384
2022-04 , 6635419
2022-05 , 6809512
2022-06 , 6646541
2022-07 , 6763067
2022-08 , 6721232
2022-09 , 6602439
2022-10 , 6912245
2022-11 , 6506716
2022-12 , 6832756
2023-01 , 6678980
2023-02 , 6272648
2023-03 , 7067397
2023-04 , 6825152

In [76]:
# Empty list to store the results
year_month_list = []

# Loop through years from 2019 to 2022
for year in range(2018, 2019):
    # Loop through months from 1 to 12
    for month in range(1, 13):
        # Format the year and month as "YYYY-MM" and append to the list
        year_month_list.append(f"{year}-{month:02d}")

# The list `year_month_list` will now contain all years and months from 2019 to 2022 in the desired format
year_month_list

['2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12']

In [77]:
new_file_paths = []
for year_month in year_month_list:
    new_file_path = r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\FHV_Compressed\compressed_FHV_" + year_month + ".parquet"
    new_file_paths.append(new_file_path)

In [78]:
new_file_path_2018 = new_file_paths

In [79]:
dfs_fhv_2018 = []

for file_path in new_file_path_2018:
    df = pd.read_parquet(file_path)
    dfs_fhv_2018.append(df)

In [81]:
full_compressed_FHV_2018 = pd.concat(dfs_fhv_2018, axis=0, ignore_index=True)

In [82]:
full_compressed_FHV_2018

          PUlocationID  DOlocationID  Year  Month  Day  Hour  trips
0                  0.0           0.0  2018      1    1     7      1
1                  0.0           0.0  2018      1    1     9      2
2                  0.0           0.0  2018      1    1    10      3
3                  0.0           0.0  2018      1    1    11      3
4                  0.0           0.0  2018      1    1    12      3
...                ...           ...   ...    ...  ...   ...    ...
60152666         265.0         265.0  2018     12   31    20     87
60152667         265.0         265.0  2018     12   31    21     84
60152668         265.0         265.0  2018     12   31    22     51
60152669         265.0         265.0  2018     12   31    23     62
60152670         265.0         265.0  2019      1    1     0      9

[60152671 rows x 7 columns]

In [83]:
full_compressed_FHV_2018.to_parquet(r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\HVFHV_Compressed\Combined\full_compressed_FHV_2018', engine='pyarrow')