In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import networkx as nx

In 2019, NYC switched from classifying most rideshares as FHV (for hire vehicles) to HFFHV (high frequency for hire vehicles) after January. Originally, I only had the HFFHV concatenated together, meaning January was missing. In this doc, I am adding January 2019 into the full doc. As a result some columns re: fare cost will be nan.

In [2]:
df = pd.read_parquet(r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\HVFHV_Compressed\Combined\full_compressed_HVFHV_2019_2020.parquet")

In [3]:
df.columns

Index(['PULocationID', 'DOLocationID', 'Year', 'Month', 'Day', 'Hour',
       'trip_miles_sum', 'congestion_surcharge_sum', 'tips_sum',
       'driver_pay_sum', 'trips'],
      dtype='object')

In [4]:
df2019jan = pd.read_parquet(r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\FHV_Compressed\compressed_FHV_2019-01.parquet")

In [5]:
new_column_names = {'PUlocationID': 'PULocationID', 'DOlocationID': 'DOLocationID'}
df2019jan.rename(columns=new_column_names, inplace=True)

In [6]:
result = pd.concat([df, df2019jan], axis=0)

In [7]:
result.head()

,PULocationID,DOLocationID,Year,Month,Day,Hour,trip_miles_sum,congestion_surcharge_sum,tips_sum,driver_pay_sum,trips
0,1.0,1.0,2019,2,1,8,1.69,0.0,0.00,15.18,1
1,1.0,1.0,2019,2,1,9,5.72,0.0,0.00,49.50,2
2,1.0,1.0,2019,2,5,5,14.23,0.0,9.67,27.91,1
3,1.0,1.0,2019,2,5,13,18.87,0.0,0.00,35.86,1
4,1.0,1.0,2019,2,6,13,17.07,0.0,0.00,31.66,1

In [8]:
result.loc[(result['Year'] == 2019) & (result['Month'] == 1)].isna().sum()

PULocationID                      0
DOLocationID                      0
Year                              0
Month                             0
Day                               0
Hour                              0
trip_miles_sum              6968345
congestion_surcharge_sum    6968345
tips_sum                    6968345
driver_pay_sum              6968345
trips                             0
dtype: int64

In [10]:
result.loc[(result['Year'] == 2019) & (result['Month'] == 2)].count()

PULocationID                6446432
DOLocationID                6446432
Year                        6446432
Month                       6446432
Day                         6446432
Hour                        6446432
trip_miles_sum              6440696
congestion_surcharge_sum    6440696
tips_sum                    6440696
driver_pay_sum              6440696
trips                       6446432
dtype: int64

In [12]:
import pyarrow
result.to_parquet(r"C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\HVFHV_Compressed\Combined\full_compressed_HVFHV_2019_2020.parquet", engine='pyarrow')