In [3]:
import numpy as np
import pandas as pd

In [4]:
rideshares = pd.read_parquet(r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\fhvhv_tripdata_2023-01.parquet')

In [5]:
rideshares['DOLocationID'].value_counts().head(10)

DOLocationID
265    723563
132    365191
138    327261
61     255075
79     237542
161    215487
37     212090
230    210496
68     202884
246    196605
Name: count, dtype: int64

In [6]:
rideshareschdo = rideshares.loc[rideshares['DOLocationID']==61,:]

In [30]:
crownheightsorigins = rideshareschdo.groupby([pd.Grouper(key='dropoff_datetime', freq='D'), 'PULocationID']).size().reset_index(name='count')

In [31]:
crownheightsorigins

     dropoff_datetime  PULocationID  count
0          2023-01-01             4     14
1          2023-01-01             7     62
2          2023-01-01            10     11
3          2023-01-01            11      2
4          2023-01-01            13      5
...               ...           ...    ...
6367       2023-02-01           237      1
6368       2023-02-01           246      1
6369       2023-02-01           250      1
6370       2023-02-01           255      2
6371       2023-02-01           256      3

[6372 rows x 3 columns]

In [32]:
crownheightsorigins.columns

Index(['dropoff_datetime', 'PULocationID', 'count'], dtype='object')

In [33]:
crownheightsorigins.to_csv(r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\crownheightsDOJan.csv', index=False)

I played around with this a bit in Tableau. Basically, people are most likely to travel to crown heights from crown heights or surrounding areas. The distance was somewhat broader on weekends and no changes happened over the course of the month. Based on my histogram, I bet this is pretty much true everywhere. Rides are typically short. I might have more interesting data if I remove <2 mile rides.